@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap");
* {
  font-family: "IBM Plex Mono", monospace;
}
.header {
  width: 100%;
  text-align: center;
  color: orange;
}

.content {
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 5%;
}

.post {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  color: black;
  padding: 2rem 2rem;
}

.blog-container {
  margin: 5% 10%;
}
